editdistance==0.5.3
glob2==0.7
imgaug==0.2.9
ipdb==0.12.2
ipython==7.16.3
joblib==0.13.2
json5==0.8.4
matplotlib==3.0.3
Pillow==6.1.0
pycairo==1.18.1
scikit-image==0.15.0
scikit-learn==0.21.1
scipy==1.2.1
seaborn==0.9.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorboardX==1.8
torch==1.2.0
torchtext==0.4.0
tqdm==4.32.1
unionfind==0.0.10